Source: tools-meta
Priority: optional
Section: metapackages
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: tools-meta
Architecture: all
Depends:
 byobu,
 bzip2,
 cifs-utils,
 exfatprogs,
 fzf,
 htop,
 lualine-nvim,
 mc,
 neovim (>= 0.10),
 net-tools,
 nmap,
 oil-nvim,
 openssh-server,
 rename,
 ripgrep,
 rsync,
 screen,
 socat,
 sshfs,
 zip
Recommends:
 nightfox-nvim,
 telescope-nvim,
Description: toos-meta
 Basic tools
